<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    
    <!-- Queries for Time to Acknowledge -->
    <add key="Query_WADE_TimeToAcknowledge" value="(OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\WADE' or OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\SQLAzure-Deployment') and IncidentType eq 'Deployment' and Status eq 'Active' and IncidentLocation/Environment eq 'PROD'" />
    <add key="Query_WALS_TimeToAcknowledge" value="(OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\WALS' or OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\sqlAzure-IncidentEnginering') and IncidentType eq 'LiveSite' and Status eq 'Active' and IncidentLocation/Environment eq 'PROD'" />
    <add key="Query_WASU_TimeToAcknowledge" value="OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\WASU' and Status eq 'Active'" />
    <add key="Query_WASH_TimeToAcknowledge" value="OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\WASH' and Status eq 'Active'" />


    <!-- Queries for Time To Escalate -->
    <add key="Query_WADE_TimeToEscalate" value="(OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\WADE' or OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\SQLAzure-Deployment') and IncidentType eq 'Deployment' and Status eq 'Active' and IncidentLocation/Environment eq 'PROD'" />
    <add key="Query_WALS_TimeToEscalate" value="(OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\WALS' or OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\sqlAzure-IncidentEnginering') and IncidentType eq 'LiveSite' and Status eq 'Active' and IncidentLocation/Environment eq 'PROD'" />
    <add key="Query_WASU_TimeToEscalate" value="OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\WASU' and Status eq 'Active'" />
    <add key="Query_WASH_TimeToEscalate" value="OwningTeamId eq 'WINDOWSAZUREOPERATIONSCENTER-FAIRFAX\WASH' and Status eq 'Active' and CustomFieldGroups/any(cfg:cfg/CustomFields/any(cf:cf/Name eq 'substatus' and cf/Type eq 'Enum' and cf/Value ne 'Blocked'))" />

    <!-- Warn/Fail Thresholds for the countdown timer.  Will turn the screen yellow at warn % of the KPI and red at fail % of the KPI -->
    <add key="Warn_Threshold" value="50" />
    <add key="Fail_Threshold" value="25" />

    <!-- KPIs for each role.  Format is KPI_<ROLE>_<KPI>_SEVERITY -->
    <add key="KPI_WADE_TimeToAcknowledge_0" value="10" />
    <add key="KPI_WADE_TimeToAcknowledge_1" value="10" />
    <add key="KPI_WADE_TimeToAcknowledge_2" value="10" />
    <add key="KPI_WADE_TimeToAcknowledge_3" value="60" />
    <add key="KPI_WADE_TimeToAcknowledge_4" value="120" />

    <add key="KPI_WADE_TimeToEscalate_0" value="15" />
    <add key="KPI_WADE_TimeToEscalate_1" value="15" />
    <add key="KPI_WADE_TimeToEscalate_2" value="15" />
    <add key="KPI_WADE_TimeToEscalate_3" value="360" />
    <add key="KPI_WADE_TimeToEscalate_4" value="720" />

    <add key="KPI_WALS_TimeToAcknowledge_0" value="10" />
    <add key="KPI_WALS_TimeToAcknowledge_1" value="10" />
    <add key="KPI_WALS_TimeToAcknowledge_2" value="10" />
    <add key="KPI_WALS_TimeToAcknowledge_3" value="15" />
    <add key="KPI_WALS_TimeToAcknowledge_4" value="1440" />

    <add key="KPI_WALS_TimeToEscalate_0" value="15" />
    <add key="KPI_WALS_TimeToEscalate_1" value="15" />
    <add key="KPI_WALS_TimeToEscalate_2" value="60" />
    <add key="KPI_WALS_TimeToEscalate_3" value="240" />
    <add key="KPI_WALS_TimeToEscalate_4" value="4320" />
    
    <add key="KPI_WASU_TimeToAcknowledge_0" value="15" />
    <add key="KPI_WASU_TimeToAcknowledge_1" value="15" />
    <add key="KPI_WASU_TimeToAcknowledge_2" value="1440" />
    <add key="KPI_WASU_TimeToAcknowledge_3" value="1440" />
    <add key="KPI_WASU_TimeToAcknowledge_4" value="1440" />

    <add key="KPI_WASU_TimeToEscalate_0" value="15" />
    <add key="KPI_WASU_TimeToEscalate_1" value="15" />
    <add key="KPI_WASU_TimeToEscalate_2" value="240" />
    <add key="KPI_WASU_TimeToEscalate_3" value="240" />
    <add key="KPI_WASU_TimeToEscalate_4" value="240" />
    
    <add key="KPI_WASH_TimeToAcknowledge_0" value="15" />
    <add key="KPI_WASH_TimeToAcknowledge_1" value="15" />
    <add key="KPI_WASH_TimeToAcknowledge_2" value="15" />
    <add key="KPI_WASH_TimeToAcknowledge_3" value="1440" />
    <add key="KPI_WASH_TimeToAcknowledge_4" value="1440" />

    <add key="KPI_WASH_TimeToEscalate_0" value="15" />
    <add key="KPI_WASH_TimeToEscalate_1" value="15" />
    <add key="KPI_WASH_TimeToEscalate_2" value="1440" />
    <add key="KPI_WASH_TimeToEscalate_3" value="2880" />
    <add key="KPI_WASH_TimeToEscalate_4" value="4320" />
    
    <!-- ICM Prod endpoint -->
    <add key="OdataServiceBaseUri" value="https://icm.ad.msft.net/api/cert" />
    
    <!-- ICM Auth Certificate - This certificate needs to be installed on the machine running the script -->
    <add key="CertThumbprint" value="91222301A8D4AD95AFB7584A77DCBD11F3A56BE2" />

  </appSettings>

</configuration>